:root {
    box-sizing: border-box;
    background-color: #000;
    color: yellow;
}

a > img {
    height: 18rem;
    margin: 4px; 
    
}

button {
    height: 3rem;
    border-radius: 10px;
    font-size: larger;
    background-color: #000;
    color: yellow;
    font-weight: 600;
}