:root {
    box-sizing: border-box;
    background-color: #31303a;
    }

    h1 {
    color: #eaf6f3;
    text-align: center;
    font-family: "Bungee";
    font-size: 5rem;
     }

     h2 {
       color: #eaf6f3;
       text-align: center;
       font-family: "Bungee";
       font-size: 2rem;
       padding-bottom: 3rem;
     }

     a> img {
      height: 18rem;
      margin: 4px;
      margin-bottom: 10px;
      border:  #31303a solid 4px ;
      filter: drop-shadow( 0mm 0mm 6mm #f4511c);
    }
    
    Button {
      height: 3rem;
      font-size: larger;
      background-color:#f4511c;
      box-shadow: inset 0px 0px 10px #4c4f6a;
      font-weight: 600;
      margin-bottom: 2rem;
      color: #0d0f1b;
     
      
}
    
    #maleButton {
      border: solid 2px #7b8da5;
      border-radius: 15px 15px 15px 15px;
    }
    #maleButton:hover {
      background-color: #cbced2;
      box-shadow: inset 0px 0px 10px #ffffff;
      border-color:#fafafa ;
      color: black;
    }
    
    #femaleButton {
      border: solid 2px #7b8da5;
      border-radius: 15px 15px 15px 15px;
    }
    #femaleButton:hover {
      background-color: #cbced2;
      box-shadow: inset 0px 0px 10px #ffffff;
      border-color: #fafafa;
      color: black;
    }
 
    
    #otherButton {
      border: solid 2px #7b8da5;
      border-radius: 15px 15px 15px 15px;
    }
    #otherButton:hover {
      background-color: #cbced2;
      box-shadow: inset 0px 0px 10px #ffffff;
      border-color: #fafafa;
      color: black;
    }
 
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-content: space-evenly;
    }

