body {
    box-sizing: border-box;
    background-color: aqua;
}

a > img {
    height: 12rem;
    margin: 4px; 
}

button {
    height: 3rem;
    border-radius: 10px;
    font-size: larger;
    background-color: #000;
    color: #a7d;
    font-weight: 800;
}