:root {
    box-sizing: border-box;
  }
  
  header, footer {
    display: flex;
    justify-content: center;
    color: yellow;
  }
  
  .container {
    display: flex;
    color:yellow;
  }
  
  .shipView {
  
  }
  
  .nav {
    border: solid 2px blue;
    padding: 1rem;
    background-color: black;
  }
  
  a {
    text-decoration: none;
    font-size: 1.25rem;
    color: yellow;
  }
  
  li {
    list-style-type: none;
    
  }

