:root {
    box-sizing: border-box;
  }
  
  header, footer {
    display: flex;
    justify-content: center;
    color: yellow;
    font-family: "Righteous";
  }
  
  .container {
    display: flex;
    color:yellow;
  }

  h1 {
    font-family: "Righteous";
    padding-bottom: 3rem;
    text-decoration: underline;
  }
  
  .shipView {
    padding-left: 6rem;
    padding-top: 13rem;
    align-items: center;
  
  }
  
  .nav {
    border: solid 2px #2c6159;
    border-radius: 10px;
    padding: 1rem;
    background-color: black;
  }
  
  a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #ca3c10;
  }
  
  li {
    list-style-type: none;
    font-family: "Righteous";
    
  }

